# 2- Preparação dos dados

### Importação do dataset

In [1]:
import pandas as pd
pd.set_option('max_colwidth', 300)

In [20]:
data = pd.read_csv('./arquivos/data.csv', encoding='ISO-8859-1')

In [231]:
data

,tweet_text,confidence,labels,length
0,Warning: penny boards will make you a faggot,0.6013,O,44
1,Fuck dykes,0.7227,H,10
2,@sizzurp__ @ILIKECATS74 @yoPapi_chulo @brandonernandez @bootyacid at least i dont look like jefree starr faggot,0.5229,H,111
3,"""@jayswaggkillah: ""@JacklynAnnn: @jayswaggkillah Is a fag"" jackie jealous"" Neeeee",0.5184,H,81
4,@Zhugstubble You heard me bitch but any way I'm back th texas so wtf u talking about bitch ass nigga,0.5185,O,100
...,...,...,...,...
14504,"I'm sorry. Did I offend your white supremacist, Aryan Nation, neo-Nazi, best fascist friends somehow? \n@GaltsGultch https://t.co/Zi3TzR5Vwo",0.3418,N,139
14505,@tradethecycles Caucasian euro aryan whatever.. Really doesn't matter. They're damn sure not WHITE!!,0.6804,N,100
14506,@yadavakhilesh sir a patient named aryan khan village meeranpur pratapgarh who is suffering from like dengu has refferd to Sgpgi lko help,1.0000,N,139
14507,@Iamshivachari Happy birthday bro _Ì«ÌÐ_ \nHave an happy year ahead _Ì«_å.._Ì«___Ì«_Ê_Ì«_Û__Ì«_Û_,1.0000,N,101
14508,@Hajrahkiayni Aryan Kapoor is such a cute name tho ! :D We Want K&amp;S First Look,1.0000,N,82

### Limpeza do texto

In [4]:
import re
import string

In [319]:
def clean_text_round1(text):
    text = text.lower()
    text = re.sub(r'@(\w+)\W', '@mention ', text) #Substituir menções de usuários
    text = re.sub(r'https?://(.+)\s', '@link ', text) #Remover links
    text = re.sub(r'&[^;.]*;', ' ', text) #Apagar elementos de html
    text = re.sub(r'[\.?!:;#"]', " ", text)
    #text = re.sub(r'', ' ', text) #Remove hashtags
    text = re.sub('\s{2,}', ' ', text) #Remover excesso de espaços
    text = re.sub(r'\s', ' ', text) #Remover whitespaces    
    return text

round1 = lambda x: clean_text_round1(x)

In [320]:
clean = data.drop(columns='tweet_text')
clean['tweet_text'] = pd.DataFrame.from_dict(data.tweet_text.apply(round1))
clean['length'] = [len(text) for text in clean.tweet_text]

In [321]:
clean

,confidence,labels,length,tweet_text
0,0.6013,O,43,warning penny boards will make you a faggot
1,0.7227,H,10,fuck dykes
2,0.5229,H,90,@mention @mention @mention @mention @mention at least i dont look like jefree starr faggot
3,0.5184,H,58,@mention @mention @mention is a fag jackie jealous neeeee
4,0.5185,O,96,@mention you heard me bitch but any way i'm back th texas so wtf u talking about bitch ass nigga
...,...,...,...,...
14504,0.3418,N,132,"i'm sorry did i offend your white supremacist, aryan nation, neo-nazi, best fascist friends somehow @mention https //t co/zi3tzr5vwo"
14505,0.6804,N,89,@mention caucasian euro aryan whatever really doesn't matter they're damn sure not white
14506,1.0000,N,131,@mention sir a patient named aryan khan village meeranpur pratapgarh who is suffering from like dengu has refferd to sgpgi lko help
14507,1.0000,N,92,@mention happy birthday bro _ì«ìð_ have an happy year ahead _ì«_å _ì«___ì«_ê_ì«_û__ì«_û_
14508,1.0000,N,70,@mention aryan kapoor is such a cute name tho d we want k s first look

In [322]:
clean.describe()

         confidence        length
count  14509.000000  14509.000000
mean       0.865844     83.098077
std        0.178734     37.150536
min        0.333300      4.000000
25%        0.668400     51.000000
50%        1.000000     82.000000
75%        1.000000    116.000000
max        1.000000    469.000000

In [323]:
clean.loc[clean['length'] < 8].describe()

       confidence    length
count    7.000000  7.000000
mean     0.950886  5.714286
std      0.129944  1.253566
min      0.656200  4.000000
25%      1.000000  5.000000
50%      1.000000  6.000000
75%      1.000000  6.500000
max      1.000000  7.000000

In [324]:
data.loc[clean['length'] < 8]

                             tweet_text  confidence labels  length
30     pollo&#128523;&#128523;&#128523;      1.0000      N      32
791                              *dirty      1.0000      N       6
1900                            SAVAGES      0.6562      N       7
2454                             Man up      1.0000      N       6
5121                            Gay Ass      1.0000      O       7
14081                              Real      1.0000      N       4
14323                              Real      1.0000      N       4

In [325]:
clean.loc[clean['length'] < 8]

       confidence labels  length tweet_text
30         1.0000      N       6     pollo
791        1.0000      N       6     *dirty
1900       0.6562      N       7    savages
2454       1.0000      N       6     man up
5121       1.0000      O       7    gay ass
14081      1.0000      N       4       real
14323      1.0000      N       4       real

In [311]:
clean.loc[39]

confidence                                                                                             1
labels                                                                                                 N
length                                                                                                90
tweet_text     @mention only in vermont is it big news that our govern got a buck vermontproblems @link
Name: 39, dtype: object

In [240]:
data.loc[39]

tweet_text    &#8220;@fhairhead: Only in Vermont is it big news that our govern got a buck #vermontproblems&#8221;
confidence                                                                                                       1
labels                                                                                                           N
length                                                                                                         100
Name: 39, dtype: object